.flex-container {
  display: flex;
  justify-content: center; /* Horizontally center the flex items */
  list-style: none; /* Remove default list styles */
  padding: 30px; /* Remove default padding */
  font-size: 18px;
  align-items: flex-end;
}

.flex-container__link a{
  margin: 0 10px; /* Adjust spacing between links */
  text-decoration: none;
}
